* {
	margin: 0;
	padding: 0;
}
.center {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.img {
	border: solid #00F00F 2px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.em {
	width: 100px;
	height: 100px;
	background: #00FFFF;
	border-radius: 100px;
	-webkit-animation: em 1.5s;
	transform: scale(1.3, 1.3);
	box-shadow: 0 0 0 12px #00D9FF;
}
.ema {
	width: 100px;
	height: 100px;
	background: #00FFFF;
	border-radius: 100px;
	transform: scale(0, 0);
	box-shadow: 0 0 0 0 #00D9FF;
	transition: all 1.2s;
}
@-webkit-keyframes em {
	0% {
		transform: scale(0, 0);
		box-shadow: 0 0 0 0 #00D9FF;
	}
	50% {
		transform: scale(0, 0);
		box-shadow: 0 0 0 0 #00D9FF;
	}
	70% {
		transform: scale(1.5, 1.5);
		box-shadow: 0 0 0 15px #00D9FF;
	}
	90% {
		transform: scale(1.3, 1.3);
		box-shadow: 0 0 0 12px #00D9FF;
	}
	100% {
		transform: scale(1.3, 1.3);
		box-shadow: 0 0 0 12px #00D9FF;
	}
}
@-webkit-keyframes card {
	0% {
		height: 200px;
	}
	70% {
		height: 400px;
	}
	100% {
		height: 400px;
		-webkit-animation: emm 1.5s;
	}
}
@-webkit-keyframes cardh {
	0% {
		height: 400px;
	}
	100% {
		height: 200px;
	}
}
.card {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	-webkit-animation: card 1.5s;
	background: #005AAB;
}
.cardh {
	position: relative;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	-webkit-animation: cardh 1.5s;
	background: #005AAB;
}
.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: red;
	text-align: center;
	line-height: 50px;
	overflow: hidden;
}
.origin {
	transform-origin:125px 125px;
}
.origin1 {
	transform-origin:-75px 125px;
}
.origin2 {
	transform-origin:-75px -75px;
}
.origin3 {
	transform-origin:125px -75px;
}
.dd {
	transform: rotate(90deg);
	-webkit-animation: dd 1.5s;
}
@-webkit-keyframes dd {
	from {
		transform: rotate(0deg);
		width: 0;
		height: 0;
	}
	to {
		transform: rotate(90deg);
		width: 50px;
		height: 50px;
	}
}